<mat-card> 
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input [(ngModel)]="username" name="username" placeholder="Enter username">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input *ngIf="showOtpInput" [(ngModel)]="OTP"  placeholder="Enter OTP Here">
    </mat-form-field>
    <button *ngIf="!showOtpInput" (click)="submit()">Submit</button>

    <button *ngIf="showOtpInput" (click)="submitOtp()">Submit</button>
    <h6 *ngIf="errorMessage">{{errorMessage}}</h6>

    <div *ngIf="isOTPVerified">
        <app-passwordreset [username]="username"></app-passwordreset>

    </div>
</mat-card>
